section {
  margin-bottom: 10px
}
.disabledSelect{
  user-select: none
}
#settings {
  ul, ol {
    padding: 0
  }
}

#leftLineCounter {

  .progress {
    background-color: lightslategrey;
    border-radius: 10px;
    padding: 3px;

    & > div {
      background-color: var(--vscode-inputValidation-infoForeground);
      height: 12px;
      border-radius: 10px;
    }

    &.geMax > div {
      background-color: red !important;
      color: red !important;
    }

    &.geMin {

    }
  }

}