@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?xqu4my') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?xqu4my') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?xqu4my##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-icon-data_connection {
  &:before {
    content: $ic-icon-data_connection;     
    color: #008000;
  }
}
.ic-icon-port_connection {
  &:before {
    content: $ic-icon-port_connection;     
    color: #d3d3d3;
  }
}
.ic-icon-power_connection {
  &:before {
    content: $ic-icon-power_connection;     
    color: #ff6347;
  }
}

