@font-face {
	font-family: 'icomoon';
	src:
		url('fonts/icomoon.ttf?uubl7g') format('truetype');
}

[class^="ic-icon"], [class*=" ic-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ic-icon-data_connection .path1:before {
	content: "\25b6";
	color: rgb(0, 128, 0);
}

.ic-icon-data_connection .path2:before {
	content: "\25b7";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.ic-icon-data_connection .path3:before {
	content: "\25b8";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.ic-icon-data_connection .path4:before {
	content: "\25b9";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.ic-icon-data_connection .path5:before {
	content: "\25ba";
	margin-left: -1em;
	color: rgb(0, 128, 0);
}

.ic-icon-data_connection .path6:before {
	content: "\25bb";
	margin-left: -1em;
	color: rgb(0, 128, 0);
}

.ic-icon-port_connection .path1:before {
	content: "\25a3";
	color: rgb(211, 211, 211);
}

.ic-icon-port_connection .path2:before {
	content: "\25a4";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.ic-icon-power_connection:before {
	content: "\25c9";
	color: #ff6347;
}
