$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ic-icon-data_connection: unquote('"\\e900"');
$ic-icon-port_connection: unquote('"\\e901"');
$ic-icon-power_connection: unquote('"\\e902"');

