.vue-flow {
	background-color: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
}

.vue-flow__container {
	border: unset;
}

.vue-flow__viewport,.vue-flow__background {
	background-color: transparent;
}

.vue-flow__minimap {
	background-color: var(--vscode-editor-background);
}

.vue-flow__controls {
	background-color: var(--vscode-button-background);
	color: var(--vscode-button-foreground);
}

.vue-flow__edges {
	stroke: var(--vscode-editorLineNumber-foreground);
}

.vue-flow__edge {
	stroke: var(--vscode-editorLineNumber-foreground);
}

.vue-flow__selectionpane {
	background-color: var(--vscode-editor-selectionBackground);
}

.vue-flow__selection {
	border: 1px solid var(--vscode-editor-selectionHighlightBorder);
}

.vue-flow__edge.selected {
	stroke: var(--vscode-editor-selectionBackground);
}

.vue-flow__edge.animated {
	stroke-dasharray: 5, 5;
	animation: dash 1s linear infinite;
}

.vue-flow__edge-path {
	stroke: var(--vscode-editorLineNumber-foreground);
}

.vue-flow__edge-text {
	fill: var(--vscode-editor-foreground);
}

.vue-flow__edge-textbg {
	fill: var(--vscode-editor-background);
}

.vue-flow__connectionline {
	stroke: var(--vscode-editorLineNumber-foreground);
}

.vue-flow__connection {
	stroke: var(--vscode-editorLineNumber-foreground);
}

.vue-flow__connection-path {
	stroke: var(--vscode-editorLineNumber-foreground);
}

.vue-flow__nodes {
	background-color: transparent;
}

.vue-flow__node {
	border: 1px solid var(--vscode-editorGroup-border);
	background-color: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
}

.vue-flow__node.selected {
	border: 1px solid var(--vscode-editor-selectionBackground);
}

.vue-flow__handle {
	background-color: var(--vscode-button-background);
}

.vue-flow__handle-bottom {
	background-color: var(--vscode-button-background);
}

.vue-flow__handle-top {
	background-color: var(--vscode-button-background);
}

.vue-flow__handle-left {
	background-color: var(--vscode-button-background);
}

.vue-flow__handle-right {
	background-color: var(--vscode-button-background);
}

.vue-flow__handle-connecting {
	background-color: var(--vscode-button-hoverBackground);
}

.vue-flow__handle-valid {
	background-color: var(--vscode-button-foreground);
}

@keyframes dash {
	to {
		stroke-dashoffset: 1000;
	}
}

